<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Etronic</title>
</head>
<body>
  <header>
    <app-header-mostrar></app-header-mostrar>

  </header>

  <section class="Frame1" id="Home">
    <div class="container text-center">
      <div class="row">

        <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 col-12 mb-12 item2">
          <h2 class="fade-in pixelated-text">Proyecto Etronic</h2>
          <h1 class="fade-in pixelated-text">MÁS QUE SOLO un proyecto, queremos pasar un tiempo con amigos, repasando anéctotas y preguntas interesantes</h1>
          <h2 class="fade-in pixelated-text">              <button class="button1">PLAY GAME </button> </h2>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12 mb-12 item1">
          <!-- Agrega la imagen con la clase "oval-image" -->
          <img src="assets/img/Perfil1.jpg" alt="Imagen Ovalada" class="oval-image">
        </div>


      </div>
    </div>
  </section>

  <footer>
    <app-footer-mostrar></app-footer-mostrar>
  </footer>
</body>
</html>






